.jumbotron {
  padding-top: 7rem;
  background-color: #a9a9a9;
}

#gallery {
  background-color: #a9a9a9;
}

section {
  padding-top: 7rem;
}

#about {
  padding-top: 20rem;
}

.gallery2-img {
  width: 100%;
}

#gallery2 .row > * {
  padding: 0;
}
